---
layout: layouts/base.njk
---
{%- css %}{% include "public/css/index.css" %}{% endcss %}
<div class="hero-image">
    <img src="img/donkey-smoker.jpg" alt="cowboy smoking pipe on donkey">
</div>

{{ content | safe }}
